<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.png" %>
	</div>
	<div id="content">
		<h1>Hi, I'm Hipa Toleafoa</h1>
		<p>Welcome to my first blog web app!</p>
		<p>This assignment took me a few days but I was able to code it all in Ruby on Rails!</p>
		<p>Follow me on Instagram and Facebook!</p>
	</div>
</div>